/* Estilos generales para el contenedor de imágenes */
.contenedor-imagenes {
  display: flex;
  justify-content: space-around; /* Espacia las imágenes de forma equitativa */
  align-items: center; /* Centra las imágenes verticalmente */
  margin-top: 20px; /* Puedes ajustar este margen si es necesario */
}

/* Estilos comunes para todas las imágenes */
.imagen-izquierda, .imagen-central, .imagen-derecha {
  max-width: 150px; /* Ajusta el tamaño de las imágenes */
  cursor: pointer;  /* Cambia el cursor para indicar que es interactivo */
  transition: transform 0.3s ease; /* Añade una transición suave */
  margin: 0 10px; /* Espaciado entre las imágenes */
}

.imagen-izquierda:hover, .imagen-central:hover, .imagen-derecha:hover {
  transform: scale(1.1); /* Agranda la imagen cuando se pasa el cursor */
}

/* Estilos para el formulario */
.formulario-agregar {
  width: 400px;         /* Establece un tamaño fijo para el formulario */
  margin: 0 auto;       /* Centra el formulario horizontalmente */
  padding: 20px;        /* Espaciado interno del formulario */
  background-color: #f4f4f4;  /* Fondo del formulario */
  border-radius: 8px;   /* Bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: flex;
  flex-direction: column;
  gap: 10px;            /* Espaciado entre los elementos del formulario */
}


.formulario-agregar input,
.formulario-agregar button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formulario-agregar button {
  background-color: #4CAF50; 
  color: white;            
  cursor: pointer;
}

.formulario-agregar button:hover {
<<<<<<< HEAD
  background-color: #45a049; /* Cambia el color al pasar el mouse sobre el botón */
}

/* Estilos para las secciones de información y contacto */
.informacion-seccion, .contacto-seccion {
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #333;
}

p {
  color: #666;
=======
  background-color: #45a049; 
>>>>>>> 88c3d25c2bf6f05085d1f51fe89fb223bc4c44ec
}
